.phoneBox{
    /* 为了方便观看，先写个高度和背景色，随后删掉 */
    /* height: 700px; */
    background: cornflowerblue;
}
/* 写所有版心宽度，水平居中 */
.md{
    width: 1226px;
    margin: 0 auto;
}
/* 方便观看，给.phone写背景颜色和高度，宽度继承 */
/* .phone{
    height: 500px;
    background: crimson;
} */
/* 写上下部分模块 */
/* 写上部分的高度和背景，宽度可继承 */
.phone .top{
    /* height: 58px; */
    line-height: 58px;
    /* background: yellow; */
}
/* 补充上部分模块的内容，h3和a */
/* h3是块元素，给h3增加左浮，给a增加右浮 */
/* 一左一右浮动需要清浮动，top写的有高度可以不用清，但最好还是清浮动，放reset里 */
/* 让文字居中，在top中加入行高 */
/* 写h3的样式,字号，颜色，粗细 */
/* 写more的样式，字号，颜色 */
h3{
    float: left;
    font-size: 22px;
    color: #333;
    font-weight: 200;
}
.phone .more{
    float: right;
    font-size: 16px;
    color: #424242;
}
/* 写下部分高度和背景色 */
/* .phone .bottom{
    height: 614px;
    background: darkgreen;
} */
/* 下部分分为左右两部分，写左右两部分 */
/* 写下左部分的宽度和高度 */
/* 写下左部分的背景 */
.phone .bottom .left{
    width: 234px;
    height: 614px;
    background: url("../images/mibg.webp") center center no-repeat;
    float: left;
    background-size: cover;
}
/* 写右部分总体宽度、高度、背景色 */
/* 右部分会掉下去，因为是块级元素，所以需要浮动，left和right都浮 */
/* 删掉bottom的高度，有内容去撑了 */
/* 因为左右都浮动了，给父级元素bottom加clearfix */
/* 尽量不把高度写死，不然改内容很麻烦，尽量让内容去撑 */
.phone .bottom .right{
    width: 992px;
    height: 614px;
    /* background: slategray; */
    float: left;
}
/* 写li宽高，背景色 */
/* li竖着排的，让它浮动 */
/* li没有间隔缝隙，写margin */
.phone .bottom .right>li{
    width: 234px;
    height: 300px;
    background: lightgrey;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
}
/* 去掉right、bottom、top、phone的背景色 */
/* 下左模块图片超出边框部分未显示，加入background-size: cover; */
/* 下左图片可以点击，将div改成a */
/* 将phoneBox的高去掉 */
/* 将版心.phone的高度去掉 */
/* 去掉top的高度，发现塌陷，给top里加clearfix */
/* 给广告条adv写高度和背景图 */
/* 将广告条adv转换成块，因为a是行内元素 */
/* 给广告条adv加上下的边距margin，直接写margin: 22px 0;会把之前md的margin: 0 auto;给替换掉，所以分开写 */
.adv{
    height: 120px;
    background: url("../images/adv.webp") center center no-repeat;
    display: block;
    margin-top: 22px;
    margin-bottom: 22px;
    /* margin: 22px auto; */
}
/* 写home下面的top，home高度不写了，让内容撑 */
/* 写top的高和行高，背景色 */
.home .top{
    height: 58px;
    line-height: 58px;
    /* background: pink; */
}
/* 写top左部分和右部分 */
/* 要在一行排列，需要让top左右两部分浮动 */
/* 给父级top加clearfix */
.home .top .h3{
    float: left;
}
.home .top ul{
    float: right;
}
/* 写top左部分h3的样式，直接在29行.phone h3中，将.phone删掉 */
/* 让top右部分的li左浮 */
/* 找ul清浮动，加clearfix */
/* 给top右部分的li加间距，margin-left */
/* 给li中的文字加颜色和下划线 */
/* 因为有行高，下划线在盒子底部，改变li的行高，再给li一个margin-top */
/* 可以直接将.home .top里的高和行高放到.home .top .h3中 */
.home .top ul>li{
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    line-height: 27px;
}
/* 发现li的下划线，默认只给第一个热门，第二个需要鼠标滑上去才有 */
/* 给第一个li加current的类名，然后写current的下划线和字体颜色 */
.current{
    border-bottom: 1.5px solid #ff6700;
    color: #ff6700;
}
/* 写bottom */
/* 给bottom中的li宽高和背景色 */
/* li块级元素竖着排的，给它加浮动 */
/* 让li中有间距，加margin */
.home .bottom>li{
    width: 234px;
    height: 300px;
    background: lightgreen;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
}
/* 排列有问题，最右边的margin没有间距 */
/* 用li:nth-child(5)直接选择 */
/* .home .bottom>li:nth-child(5),.home .bottom>li:nth-child(10),.home .bottom>li:nth-child(11){
    margin-right: 0;
} */
/* 也可以直接给第5、10、11个li加个类名nort，然后写 */
.home .bottom .nort{
    margin-right: 0;
}
/* 因为li浮动了，给父级bottom加清除浮动clearfix */
/* 给最后两个盒子写高度 */
.home .bottom>li:nth-child(10),.home .bottom>li:nth-child(11){
    height: 143px;
}
/* 将.home .top的背景去掉 */